browseraction {
    -moz-appearance: toolbarbutton;
    -moz-box-align: center;
    -moz-box-pack: center;
    margin: 0;
    border: 1px solid transparent;
    background-color: transparent;
    width: 36px;
    height: 36px;
}

toolbar[iconsize="small"] browseraction {
    width: 27px;
    height: 26px;
}

.browseraction-stack {
    position: relative;
    width: 36px;
    height: 36px;
}

toolbar[iconsize="small"] .browseraction-stack {
    width: 27px;
    height: 26px;
}

.browseraction-icon {
    width: 24px;
    height: 24px;
    margin: 6px;
}

toolbar[iconsize="small"] .browseraction-icon {
    width: 17px;
    height: 16px;
    margin: 5px;
}

.browseraction-badge {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 10px;
    -moz-border-radius: 3px;
}

.browseraction-badge-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    color: white;
    margin: 0px;
    padding-left: 3px;
    overflow: hidden;
    cursor: default;
}

.browseraction-badge[badgetexthidden="true"],
    .browseraction-badge-text[badgetexthidden="true"] {
    display: none;
}

browseraction:hover,
    browseraction[buttonover="true"] {
    border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
}

browseraction:hover:active,
    browseraction[open="true"] {
    border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
}

browseraction[checked="true"] {
    border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow !important;
    background-image: url("chrome://global/skin/toolbar/Lighten.png");
    color: ButtonText;
}

.browseraction-popup {
    border: none;
    padding: 0px;
    min-width: 1px;
    background: transparent;
}

.browseraction-popup-pane {
    position: relative;
    display: block;
}

.browseraction-popup-arrow {
    position: absolute;
    width: 13px;
    height: 6px;
    right: 5px;
    background-image: url(popup-arrow.png);
}

.browseraction-popup-border {
    position: absolute;
    top: 5px;
    -moz-border-image: url(popup-border.png) 4 4 4 4;
}

.browseraction-popup-iframe {
    position: relative;
    display: block;
    border: none;
    max-height: 600px;
    max-width: 800px;
}

